apiVersion: v1
kind: Namespace
metadata:
  labels:
    kubernetes.io/metadata.name: test-rabbit
  name: test-rabbit
spec:
  finalizers:
    - kubernetes
status:
  phase: Active
---
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: rabbitmq
  namespace: test-rabbit
spec:
  image: rabbitmq:3.11.9-management-alpine
  override: {}
  persistence:
    storage: 8Gi
  rabbitmq:
    additionalConfig: |
      cluster_partition_handling = pause_minority
      vm_memory_high_watermark_paging_ratio = 0.99
      disk_free_limit.relative = 1.0
      collect_statistics_interval = 10000
      consumer_timeout = 18000000
      log.default.level = debug
  replicas: 3
  resources:
    limits:
      cpu: '2'
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 1Gi
  secretBackend: {}
  service:
    type: NodePort
  terminationGracePeriodSeconds: 604800
  tls: {}
